@model MVCOnlineTicariOtomasyon.Models.Class.Department

@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Departman Güncelleme</h2>

<br />

@using (Html.BeginForm("DepartmanGuncelle", "Department", FormMethod.Post))
{

    <div class="form-group">
        @Html.HiddenFor(x => x.DeparmentID)
        @Html.Label("Departman Adı")
        @Html.TextBoxFor(x => x.DeparmentName, new { @class = "form-control" })

    </div>
    <br />
    <button class="btn btn-danger">Güncelle</button>
}