@using MVCOnlineTicariOtomasyon.Models.Class
@model Category
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Kategori Güncelleme</h2>

<br />

@using (Html.BeginForm("KategoriGuncelle", "Category", FormMethod.Post))
            {
            
            <div class="form-group">
                @Html.HiddenFor(x=>x.CategoryID)
                @Html.Label("Kategori Adı")
                @Html.TextBoxFor(x=>x.CategoryName, new {@class="form-control"}) 

            </div>
            <br />
            <button class="btn btn-danger">Güncelle</button>

            }